body{
    background-color: aquamarine;
}
.separador {
  height: 1px;
 /* margin-top: 1%;*/
  background-color: rgb(0, 0, 0);
  
}

.opciones{
    margin: 2% 2% 2% 2%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.titulo{
    
    display: flex;
    justify-content:center;
}
.tituloCampos{
    margin-top: 5%;
    margin-bottom: -1%;
    display: flex;
    width: 36%;
    flex-direction: row;
    justify-content:space-around;
    align-items:baseline;
}
.checkMostrar{
    padding: 1% 0% 1% 0%;
}
table{
    width: 100%;
    
    border-collapse: collapse;
    padding: 10px 24px;
    margin: 8px 0px 0px 0px;
}
th{
    text-align:justify;
    padding: 8px;
   
    background-color: rgb(10, 163, 163);
    
}
td{
    text-align:justify;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: whitesmoke;
}
.botonAgregar{
    

    width: 10%;
    background-color:rgb(1, 119, 230);
    color: white;
    padding: 15px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;

}
.botonAgregar:hover{
    background-color:rgb(0, 91, 175);
}
.contenedorFlex{
    position: fixed;
    justify-content: center;
    width: 100%;
    
}
.inputGrilla{
    width: 100%;
    padding: 5px 8px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
.inputGrillaHide{
    display: none;
    width: 100%;
    padding: 5px 8px;
    margin: 8px 0;
    display: none;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
.grilla{
    top: 5rem;
    left: 35rem;
    margin-top: 10px;
    position: absolute;
    width: 30%;
    border-radius: 5px;
    background-color: rgb(0, 159, 212);
    padding: 20px;

    display: none;
    border: lightblue 5px solid;

}
.botonGuardar{
    width: 35%;
    background-color:rgb(0, 255, 136);
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}
.botonGuardar:hover{
    background-color:rgb(2, 197, 116);
}
.divBoton{
    margin-top: 20px;
    display:flex;
    justify-content:space-around;
    width: 100%;
}
.botonCancelar{
    width: 35%;
    background-color:red;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}
.botonCancelar:hover{
    background-color:rgb(175, 0, 0);
}

.sinError{
    
    border: 1px solid #cccccc;
}

.error{
    
    border: 1px solid red;

}